td a {
   color: black;
}

td.sunday a {
   color: white;
}

td.Theotokos a {
   color: white;
}

.sunday {
   background-color: red;
   color: white;
}

.Entrance {
   color: green;
   backround-color: white;
}

.Last_Supper {
   color: purple;
}

.Friday {
   font-weight: bold;
}

.Theotokos {
   color: white;
   font-weight: bold;
   background-color: blue
}

td.Cross {
   background-color: purple;
   font-weight: bold;
}

td.Cross a{
   color: white;
}

.CuttingHeadOfBaptist {
   color: darkred;
}

.Easter {
   color: white;
   font-weight: bold;
   background-color: red;
   border: 1px dotted white;
}

.Penticost {
   color: green;
   backround-color: white;
   font-weight: bold;
}

.Transfiguration {
   color: red;
   background-color: white;
   font-weight: bold;
}

.Assumption {
   color: blue;
   background-color: white;
   font-weight: bold;
}

.Reverend {
   color: green;
}

.ProphetOrApostle {
   color: orange;
}

td.Angels {
   backround-color: white;
   border: 1px dotted black;
}

td.Angels a {
   color: black;
}

td {
   border-radius: 50%;
   text-align: center;
}

/* td { */
/*    border: 1px dotted white; */
/* } */
